@use 'variables';
@forward 'variables';

#create-input {
    border: none;
    border-radius: 1rem 0 0 1rem;
    width: 60rem;
    height: variables.$input-height;
    padding: 0 1rem;
    font-size: 1.8rem;
    outline: none;
}

#create-btn {
    display: inline-block;
    border: none;
    border-radius: 0 1rem 1rem 0;
    width: 10rem;
    height: variables.$input-height;
    background-color: variables.$accent-color;
    font-size: inherit;
    font-weight: bold;
    color: variables.$secondary-color;
}

.task-list {
    display: block;
    margin: 2rem;
    width: 45%;
}


.task {
    display: flex;
    justify-content: space-between;
    margin: .4rem 0;
    border-radius: .6rem;
    padding: .4rem 2rem;
    min-width: 100%;

    .icon {
        visibility: hidden;
    }

    &:hover {
        background-color: variables.$secondary-color;
        color: variables.$main-color;
        cursor: pointer;

        .icon {
            visibility: visible;
            color: variables.$main-color;

            &:hover {
                color: variables.$danger;
            }
        }
        .input-group {
            color: inherit;
        }
        .completed {
            color: variables.$light-main-color;
        }
    }
}

.completed {
    color: variables.$dark-secondary-color;
    text-decoration: line-through;
}