$main-color: rgba(51,51,51,1);
$light-main-color: rgba(51,51,51,.6);
$secondary-color: #fefefe;
$dark-secondary-color: rgba(254,254,254,.6);
$accent-color: #0077ff;

$danger: #DB1212;

$input-height: 4rem;